<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'HiApps' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> 后台管理</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <% if (session.authenticated) { %>
                <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %> </a></li>
                <% } %>
                <% if (session.authenticated && session.User.admin) { %>
                <li><a href="/user">User Administration</a></li>
                <li><a href="#">Placeholder2</a></li>
                <% } %>
            </ul>
            <div class="navbar-right">
                <% if (session.authenticated) { %>
                <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">sign-out</a>
                <% } %>
            </div>
            <% if (!session.authenticated) { %>
            <form class="navbar-form navbar-right" action="/session/create">
                <div class="form-group">
                    <input type="text" placeholder="Email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </form>
            <% } %>
        </div>
    </div>
</div>

<%- body %>

<div class="container">
    <hr>
    <footer class="footer pull-right">
        <div>
            <a href="http://hiapps.tech">www.hiapps.tech</a>
            <div><a href="http://twitter.com/wuyunan">@wuyunan</a></div>
        </div>
    </footer>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/jquery.validate.min.js"></script>
<script src="/js/dependencies/additional-methods.min.js"></script>
<script src="/js/dependencies/customVaildate.js"></script>
<!--SCRIPTS END-->
</body>
</html>
