<div class="container">
    <h1> <%= sku.name %></h1>
    <hr>

    <p>标题: <%= sku.title %></p>
    <p>描述: <%= sku.desc %></p>
    <p>信息: <%= sku.info %></p>
    <hr>
    <a class="btn btn-medium btn-primary" href="/sku">商品列表</a>

    <a class="btn btn-medium btn-primary" href="/sku/edit/<%= sku.id %>">编辑</a>

    <form action="/sku/destroy/<%= sku.id %>" method="POST">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" class="btn btn-sm btn-danger" value="删除"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
    </form>
</div>
